@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$fontColor: #FF9800;
$edu: #0DAF7A;
$exp: #CD5C5C;


h1,
h2{
    color: $fontColor;
}

@keyframes jump {
    0% {
        transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px);
    }
    
    25% {
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
    }
    
    50% {
        transform: translate(0px,10px);
        -webkit-transform: translate(0px,10px);
    }
    
    75% {
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,50px);
    }
    
    100% {
        transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    }
}

#app{
    margin-top: 0px;
    overflow: hidden;
}
#introTop{
    //background-image: url("~@/assets/img/mapFigure.jpg");
    width: 100%;
    background: black;
    //overflow: hidden;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8)), url("~@/assets/img/mapFigure.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.8)), url("~@/assets/img/mapFigure.jpg"); 
    #introCont{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    #scrollDown{
        width: 50px;
        height: 50px;
        background: url("~@/assets/img/scrollDown.png");
        background-repeat: no-repeat;	
        position: relative;
        left: 48%;
        top: 500px;
        animation: jump 0.75s linear;
        animation-iteration-count: infinite;
    }
}
#bottom{
    width: 100%;
    min-height:inherit;
    background-color: #F3EFE0;
    #navSide{
        width: 15%;
        float:left;
        top: 35%;
        position: relative;
        background: transparent;
        .nav-link {
            &.active{
                background-color: $fontColor;
            }
        }
        #resumeNav{
            border-radius: 3px;
            &.active{
                background-color: gray;
                a{color: white};
            }
        }
    }
    #content{
        width: 85%;
        height: inherit;
        min-height:inherit;
        float:right;
        background-color: transparent;
        #mapSZ{
            width: 50%;
            float: left;
            height: inherit;
            //border: 1px black solid;
            #mapBx{
                position: relative;
                top: 10%;
                left: 10%;
                #mapLgd{
                    position: relative;
                    bottom: -10px;
                    color: black;
                    z-index: 1;
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    #lgdCon{
                        display: block;
                        .lgd{
                            display: flex;
                            float: left;
                            margin: 0px 5px;
                            .lgdTxt{
                                position: relative;
                                top: 5px;
                            }
                        }
                    }
                }
            }
            #portImg{
                position: relative;
                top: 10%;
                height: 80%;
                border: #FF9800 solid 1px;
                z-index: 2;
                #portCarousel{
                    height: 100%;
                    .carousel-inner{
                        height: 100%;
                        .carousel-item{
                            height: 100%;
                        }
                    }
                }
            }
        }
        #infoSZ{
            position:relative; 
            min-height:inherit;
            height: inherit; 
            overflow-y:scroll;
            .infoPart{
                padding: 50px 0px;
                min-height:inherit;
                //border: 1px black solid;
                .infoTitle{
                    position: relative;
                    //top: 50px;
                }
                .infoContent{
                    overflow-y: scroll;
                    .resume-item{
                        padding: 5px;
                        border-radius: 4px;
                        background: transparent;
                        &:hover{
                            //background: $highlight;
                            color: white;
                            .resume-date{ span{color:#F0E68C}}
                        }
                        &.hover{
                            //background: $highlight;
                            color: white;
                            .resume-date{span{color:#F0E68C}}
                        }
                        &.education{
                            &:hover{background: $edu;}
                            &.hover{background: $edu;}
                        }
                        &.experience{
                            &:hover{background: $exp;}
                            &.hover{background: $exp;}
                        }
                        .resume-content{
                            text-align: left;
                            width: 55%;
                        }
                        .resume-date{
                            padding-top: 5px;
                            width: 45%;
                            font-size: 16px;
                            //span{color: $fontColor;}
                        }
                    }
                    .resume-descrp{
                        text-align: left;
                    }
                    #intCarousel{
                        height: 100%;
                        .carousel-inner{
                            height: 100%;
                            .carousel-item{
                                height: 100%;
                            }
                        }
                    }
                }
            }
            #resumeDiag{
                border-radius: 5px;
                .el-dialog__header{
                    background-color: gray;
                    height: 40px;
                    padding: 10px 20px;
                    .header-title{
                        float: left;
                        color: white;
                    }
                    .el-dialog__headerbtn {
                        top: 10px;
                        cursor: pointer;
                        i{
                            color: lightgray;
                            &:hover{color: white}
                        }
                    }
                }
                .dialogCont{
                    iframe{
                        width: 100%;
                        height: 350px;
                    }
                }
            }
        }
    }
}

.marker_edu{
    background-image: url("~@/assets/img/markerEdu.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* &.hover{
        background-image: url("~@/assets/img/markerEdu.png");
    } */
}
.marker_exp{
    background-image: url("~@/assets/img/markerExp.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* &.hover{
        background-image: url("~@/assets/img/markerExp.png");
    } */
}

.popup{
    z-index: 2;
    .mapboxgl-popup-content{
        background-color: $exp;
        color: white;
        font-size: 14px;
    }
    .mapboxgl-popup-tip {
        border-width: 6px;
        border-top-color: $exp;
    }
}
